<div class="container">
  <div class="form-title">Edição de Plantação</div>
  <form [formGroup]="plantacaoForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="formulario">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" formControlName="nome" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="descricao" class="form-label">Descrição:</label>
      <textarea id="descricao" formControlName="descricao" class="form-control descricao-input" required></textarea>
    </div>

    <div class="image-upload-group">
      <div class="image-upload">
        <label for="imagemInicio" class="form-label">Imagem - Início da plantação (Opcional)</label>
        <input type="file" id="imagemInicio" (change)="onFileSelected($event, 'imagemInicio')" class="file-input">
        <div class="file-input-overlay">Escolha uma imagem</div>
        <img *ngIf="imagePreview['inicio']" [src]="imagePreview['inicio']" alt="Preview" class="image-preview">
      </div>

      <div class="image-upload">
        <label for="imagemMeio" class="form-label">Imagem - Metade da plantação (Opcional)</label>
        <input type="file" id="imagemMeio" (change)="onFileSelected($event, 'imagemMeio')" class="file-input">
        <div class="file-input-overlay">Escolha uma imagem</div>
        <img *ngIf="imagePreview['meio']" [src]="imagePreview['meio']" alt="Preview" class="image-preview">
      </div>

      <div class="image-upload">
        <label for="imagemFim" class="form-label">Imagem - Final da plantação (Opcional)</label>
        <input type="file" id="imagemFim" (change)="onFileSelected($event, 'imagemFim')" class="file-input">
        <div class="file-input-overlay">Escolha uma imagem</div>
        <img *ngIf="imagePreview['fim']" [src]="imagePreview['fim']" alt="Preview" class="image-preview">
      </div>
    </div>

    <div formArrayName="agrotoxicos">
      <h4>Agrotóxicos</h4>
      <button type="button" (click)="openAgrotoxicoModal()" class="btn btn-add"> + Adicionar Agrotóxico</button>

      <div *ngFor="let agrotoxico of agrotoxicos().controls; let i = index" [formGroupName]="i" class="card agrotoxico-card">
        <div class="card-body">
          <button type="button" class="remove-button" (click)="removeAgrotoxico(i)">&times;</button>
          <button type="button" class="edit-button" (click)="openAgrotoxicoModal(i)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <h5 class="card-title">{{ agrotoxico.get('nome')?.value || 'Novo Agrotóxico' }}</h5>
          <p class="card-text">Data de Aplicação: {{ agrotoxico.get('dataAplicacao')?.value | date: 'dd/MM/yyyy' || 'Não especificada' }}</p>
          <p class="card-text">Descrição: {{ agrotoxico.get('descricao')?.value || 'Não especificada' }}</p>
        </div>
      </div>
    </div>

    <div formArrayName="fertilizantes">
      <h4>Fertilizantes</h4>
      <button type="button" (click)="openFertilizanteModal()" class="btn btn-add">+ Adicionar Fertilizante</button>
      <div *ngFor="let fertilizante of fertilizantes().controls; let j = index" [formGroupName]="j" class="card fertilizante-card">
        <div class="card-body">
          <button type="button" class="remove-button" (click)="removeFertilizante(j)">&times;</button>
          <button type="button" class="edit-button" (click)="openFertilizanteModal(j)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <h5 class="card-title">{{ fertilizante.get('nome')?.value || 'Novo Fertilizante' }}</h5>
          <p class="card-text">Data de Aplicação: {{ fertilizante.get('dataAplicacao')?.value | date: 'dd/MM/yyyy' || 'Não especificada' }}</p>
          <p class="card-text">Descrição: {{ fertilizante.get('descricao')?.value || 'Não especificada' }}</p>

        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-submit">Cadastrar</button>
    <button type="button" (click)="finalizarPlantacao()" class="btn btn-finalizar">Finalizar Plantação</button>

  </form>
</div>
<app-agrotoxico-modal *ngIf="isAgrotoxicoModalOpen"
                      [agrotoxicoData]="selectedAgrotoxicoIndex !== null ? getAgrotoxicoFormGroup(selectedAgrotoxicoIndex) : null"
                      (save)="addOrUpdateAgrotoxico($event)"
                      (close)="closeAgrotoxicoModal()">
</app-agrotoxico-modal>


<app-fertilizante-modal *ngIf="isFertilizanteModalOpen"
                        [fertilizanteData]="selectedFertilizanteIndex !== null ? getFertilizanteFormGroup(selectedFertilizanteIndex) : null"
                        (save)="addOrUpdateFertilizante($event)"
                        (close)="closeFertilizanteModal()">
</app-fertilizante-modal>



<div *ngIf="isFinalizarModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h3>Tem certeza que deseja encerrar a plantação?</h3>
    <div class="form-group">
      <label for="dataConclusao">Data de Conclusão:</label>
      <input type="date" id="dataConclusao" [(ngModel)]="dataConclusao" class="form-control" />
    </div>
    <div class="form-group">
      <label for="quantidadeObtida">Quantidade Obtida:</label>
      <input type="number" id="quantidadeObtida" [(ngModel)]="quantidadeObtida" class="form-control" />
    </div>
    <button class="btn btn-confirm" (click)="confirmarFinalizacao()">Confirmar</button>
    <button class="btn btn-cancel" (click)="fecharFinalizarModal()">Cancelar</button>
  </div>
</div>
